.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
.header__line {
  display: none;
}
.logo {
  width: 40px;
}

/* TABLET */
@media (min-width: 664px) {
  .logo {
    width: 48px;
  }
}

/* DESKTOP */

@media (min-width: 1024px) {
  .header__line {
    display: block;
    position: absolute;
    left: 8vw;
    max-width: 473px;
    width: 34%;
    height: 1px;
    background: #979797;
    z-index: 10;
  }
}