.subtitle {
  color: var(--middle);
}

@media (min-width: 664px) {
  .subtitle {
    font-size: 20px;
    letter-spacing: 3.38px;
  }
}

@media (min-width: 1024px) {
  .subtitle {
    font-size: 28px;
    letter-spacing: 4.72px;
    text-align: left;
  }
}