.App {
  position: relative;
  background: url("./assets/home/background-home-mobile.jpg") no-repeat center;
  background-size: cover;
  padding: 24px;
  margin: 0 auto;
  overflow-x: hidden;
  height: 100vh;
}
@media (min-width: 664px) {
  .App {
    background: url("./assets/home/background-home-tablet.jpg") no-repeat center;
    background-size: cover;
    padding: 0;
    padding-left: 39px;
  }
}
@media (min-width: 1024px) {
  .App {
    background: url("./assets/home/background-home-desktop.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 3.8%;
    padding-top: 2.9%;
  }
}